.logo {
  --duration: 500ms;
  --curve: ease;
}

.logo[data-animate='false'][data-state='enter'] {
  opacity: 0;
  animation: none;
}

.logo[data-animate='false'][data-state='exit'] {
  opacity: 1;
  animation: none;
}

.logo[data-state='enter'][data-animate='true'] {
  animation: enter var(--duration) var(--curve) var(--delay) both;
}

.logo[data-state='exit'][data-animate='true'] {
  animation: exit var(--duration) var(--curve) var(--delay) both;
}

@keyframes enter {
  0% {
    transform: translateY(32px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes exit {
  0% {
    transform: translateY(0);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-32px);
    filter: blur(4px);
    opacity: 0;
  }
}
