@import './../../../packages/ui/build/css/source/global.css';
@import './../../../packages/ui/build/css/themes/dark.css';
@import './../../../packages/ui/build/css/themes/classic-dark.css';
@import './../../../packages/ui/build/css/themes/light.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    /* font-feature-settings: "rlig" 1, "calt" 1; */
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .text-foreground-muted {
    color: hsl(var(--color-foreground-muted));
  }
  .bg-surface-200 {
    background-color: hsl(var(--color-surface-200));
  }
  .bg-surface-100 {
    background-color: hsl(var(--color-surface-100));
  }
  .border-foreground-muted {
    border-color: hsl(var(--color-foreground-muted));
  }
  
  .step {
    counter-increment: step;
  }

  .step:before {
    position: absolute;
    width: 2.25rem;
    height: 2.25rem;
    background-color: hsl(var(--muted));
    border-radius: 9999px;
    font-family: ui-monospace, SF Mono, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-weight: 500;
    text-align: center;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-indent: -9999px;
    border-width: 4px;
    border-style: solid;
    border-color: hsl(var(--background));
    margin-left: -12.5rem;
    margin-top: -1rem;
    content: counter(step);
  }

  .chunk-container {
    box-shadow: none;
  }

  .chunk-container::after {
    content: '';
    position: absolute;
    top: -1rem;
    right: -1rem;
    bottom: -1rem;
    left: -1rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    border-radius: 0.75rem;
    border-width: 1px;
    border-style: solid;
    border-color: hsl(var(--border));
  }
}

@media (max-width: 640px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
