/* [data-theme="light"] {
  display: block;
} */

/* [data-theme="dark"] {
  display: none;
} */

.dark [data-theme='light'] {
  display: none;
}

.dark [data-theme='dark'] {
  display: block;
}

[data-rehype-pretty-code-fragment] {
  @apply relative;
}

[data-rehype-pretty-code-fragment] code {
  @apply grid min-w-full break-words rounded-none border-0 bg-transparent p-0;
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] .line {
  @apply px-4 min-h-[1rem] py-0.5 w-full inline-block;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] .line {
  @apply px-2;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  @apply text-foreground-muted text-xs;
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1.8rem;
  margin-right: 1.4rem;
  text-align: right;
}

[data-rehype-pretty-code-fragment] .line--highlighted {
  position: relative;
  background-color: hsl(var(--color-surface-200));
}
.dark [data-rehype-pretty-code-fragment] .line--highlighted {
  background-color: hsl(var(--color-surface-100));
}

[data-rehype-pretty-code-fragment] .line--highlighted {
  border-color: hsl(var(--color-foreground-muted));
  border-left-width: 2px;
  border-left-style: solid;
}

[data-rehype-pretty-code-fragment] .line-highlighted span {
  position: relative;
}

[data-rehype-pretty-code-fragment] .word--highlighted {
  border-radius: 0.375rem;
  background-color: rgb(63 63 70 / 0.5);
  border-color: rgb(63 63 70 / 0.7);
  border-width: 1px;
  border-style: solid;
  padding: 0.25rem;
}

.dark [data-rehype-pretty-code-fragment] .word--highlighted {
  background-color: rgb(24 24 27);
}

[data-rehype-pretty-code-title] {
  margin-top: 0.5rem;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
}

[data-rehype-pretty-code-title] + pre {
  margin-top: 0.5rem;
}

.mdx > .steps:first-child > h3:first-child {
  margin-top: 0;
}

.steps > h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
}

/* .preview-grid-background {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #80808012 1px, transparent 1px),
    linear-gradient(to bottom, #80808012 1px, transparent 1px);
  background-size: 24px 24px;
} */
