# Configuration for private npm package dependencies
# For more information on using private registries with Edge Functions, see:
# https://www.assistance.bg/docs/guides/functions/import-maps#importing-from-private-registries
