name: Authorize Vercel Deploys

# This workflow is triggered by the validate-pr workflow. When it's triggered, it will run the
# authorize-vercel-deploys.yml in master branch. If you want to change it, you'll have to merge it into master.
on:
  pull_request:
    branches:
      - 'master'

# Cancel old builds on new commit for same workflow + branch/PR
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  authorize-vercel-deploys:
    runs-on: blacksmith-4vcpu-ubuntu-2404

    steps:
      - name: Check out repo
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
        with:
          # fetch only the root files and scripts folder
          sparse-checkout: |
            scripts
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        name: Install pnpm
        with:
          run_install: false
      - name: Setup node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'
      - name: Download dependencies
        run: |
          pnpm install --frozen-lockfile
      - name: Authorize Vercel Deploys
        run: |-
          pnpm run authorize-vercel-deploys
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
<<<<<<< HEAD
=======
          # The SHA of the commit that triggered the validate-pr workflow
<<<<<<< HEAD
>>>>>>> 82d4788738 (fix: Use `head_commit_sha` in `authorize-vercel-deploys.yml` action (#41795))
          HEAD_COMMIT_SHA: ${{ github.event.workflow_run.head_sha }}
=======
<<<<<<< HEAD
          HEAD_COMMIT_SHA: ${{ github.event.pull_request.head.sha }}
=======
          HEAD_COMMIT_SHA: ${{ github.event.workflow_run.head_sha }}
>>>>>>> 47f42377cb (fix: Use `head_commit_sha` in `authorize-vercel-deploys.yml` action (#41795))
>>>>>>> 04f57349ec (fix: Use `head_commit_sha` in `authorize-vercel-deploys.yml` action (#41795))
